body{
    background: #1c1a1a;
    color: #fff;
    padding: 2rem;
}

.section button:not([disabled]){
    font: 20px;
    background: crimson;
}

.section1 a:not([href*="https//www.youtube.com/@devjunk"]){
    color: brown;
    text-decoration: none;
}