@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color: #deab5f;
    --primary-color: #312e2e;

}

button {
    padding: 10px;
    background: var(--main-color);
    cursor: pointer;
    border: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: #100e0f;
}

/* NavBar Start*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
}


li{
    display: inline;
    list-style: none;
}

li a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}
li a:hover{
    border-bottom: 2px solid var(--main-color);


}


/* Navbar end */

/* Header Start */
.header{
    background: url('https://images.pexels.com/photos/129207/pexels-photo-129207.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;
}


.main-headings{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.primary-heading {
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin: 40px;
}

.main-btn {
    position: absolute;
    bottom: 4rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(40px);
}

/* Our Story Start*/
#our-story{
    height: 100vh;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.img {
    width: 400px;
    height: 400px;
    background: url('https://media.istockphoto.com/id/615985928/photo/coffee.jpg?s=612x612&w=0&k=20&c=_qb3r2Z_Mjdi529dp-CQ0pQxzxV3t25OzQIICPkQRmA=');
    background-position: center;
    background-size: cover;
}

.title-style {
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Playfair Display',serif;
    color: #fff;
    font-size: 4rem;
    transform: translateX(-100px);

}

.line {
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translateX(-120px);
}

.section-content p{
    max-width: 500px;
    color: #fff;
    line-height: 20px;
    margin: 20px 0;
}

/* Our Story end */

/* Coffee Start */

.coffee-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}



.img-2 {
    width: 400px;
    height: 400px;
}

.title-two {
    font-size: 3rem;
    color: #fff;
    font-family: 'Playfair Display',serif;
}

.content-section p{
    max-width: 500px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #fff;
}


/* Coffee End */


/* Product Start */


.products {
    margin: 5rem;

}

.title-three {
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.card {
    border: 2px solid var(--main-color);
    padding:0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4rem;
}

.card-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
}
.img-one {
    background: url('https://images.unsplash.com/photo-1564676677001-92e8f1a0df30?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyNHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}
.img-two {
    background: url('https://images.unsplash.com/photo-1603894143428-3086b6a4dbcb?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyNnx8fGVufDB8fHx8fA%3D%3D');
    background-position: left;
    background-size: cover;
}
.img-three {
    background: url('https://images.unsplash.com/photo-1673819587314-3c79b9018f5a?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzMXx8fGVufDB8fHx8fA%3D%3D');
    background-position: top;
    background-size: cover;
}

.card-title {
    color: #fff;
    font-family: sans-serif;
    margin-top: 200px;
}


.card .items p {
    color: #fff;
    margin: 20px 0;
    font-family: sans-serif;
}

/* Products End */

/* Footer Start */

footer{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: sans-serif;
    color: #fff;
}

footer .container {
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

footer .heading-info {
    margin-bottom: 20px;

}

footer p {
    line-height: 25px;
}

span{
    color: var(--main-color);
}

hr {
    margin-bottom: 20px;
    border: var(--main-color);
    width: 500px;
    margin: 0 auto;
}

.para {
    color: #fff;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: center;
}

/* Project End */

/* Medua Queries Responsiveness */

@media only screen and (max-width:768px){
    .main-headings{
        
    }
}