/* div{
    width: 100px;
    height: 100px;
    background-color: red;
}
 */

 /* div{
    width: 100%;
    height: 1005;
    background-color: red;
 } */
/* If we use like below and this div is inside section then it  will not reflect anything in the browser
because % is relative to its parent , we need to include section for that
 */

 section{
    width: 500px;
    height: 500px;
    background-color: teal;
 }
 div {
    width: 50%;
    height: 50%;
    background: red;
 }

 /* html {
    font-size: 2em;
 } */
  html{
    font-size: 16px;
  }
 h1{
    font-size: 2rem;
 }


